<form method="post" action="{{ path('commande_client_delete', {'idCommande': commande_client.idCommande}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_client.idCommande) }}">
    <button class="btn">Delete</button>
</form>
