{% extends 'base.html.twig' %}

{% block title %}New StatutCommande{% endblock %}

{% block body %}
    <h1>Create new StatutCommande</h1>

    {{ include('statut_commande/_form.html.twig') }}

    <a href="{{ path('statut_commande_index') }}">back to list</a>
{% endblock %}
