{% extends 'base.html.twig' %}

{% block title %}Edit TypePaiement{% endblock %}

{% block body %}
    <h1>Edit TypePaiement</h1>

    {{ include('type_paiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_paiement_index') }}">back to list</a>

    {{ include('type_paiement/_delete_form.html.twig') }}
{% endblock %}
