{% extends 'base.html.twig' %}

{% block title %}New TypePaiement{% endblock %}

{% block body %}
    <h1>Create new TypePaiement</h1>

    {{ include('type_paiement/_form.html.twig') }}

    <a href="{{ path('type_paiement_index') }}">back to list</a>
{% endblock %}
