{% extends 'base.html.twig' %}

{% block title %}Edit Cb{% endblock %}

{% block body %}
    <h1>Edit Cb</h1>

    {{ include('cb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cb_index') }}">back to list</a>

    {{ include('cb/_delete_form.html.twig') }}
{% endblock %}
