{% extends 'base.html.twig' %}

{% block title %}New Cb{% endblock %}

{% block body %}
    <h1>Create new Cb</h1>

    {{ include('cb/_form.html.twig') }}

    <a href="{{ path('cb_index') }}">back to list</a>
{% endblock %}
