{% extends 'base.html.twig' %}

{% block title %}New CommandeFournisseur{% endblock %}

{% block body %}
    <h1>Create new CommandeFournisseur</h1>

    {{ include('commande_fournisseur/_form.html.twig') }}

    <a href="{{ path('commande_fournisseur_index') }}">back to list</a>
{% endblock %}
