@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: "Beaufort-Bold";
    src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot");
    src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.svg#BeaufortW01-Bold") format("svg");
}

body {
    background-color: lightgray;
    /**font-family: 'Beaufort-Bold'**/
}

nav {
    font-size: 20px;
}

.effecthover {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    height: 50px;

}

.effecthover:hover {
    border-bottom: 2px solid currentColor;
    border-top: 2px solid currentColor;
    color: darkcyan !important;
//padding-bottom: 2px;
    height: 50px;
}

.effecthover:hover {
    color: darkcyan !important;
}

.navbar {
    padding: 0;
}

.navbar-brand {

    padding: 0;
    margin: 0 !important;
}

#accroche .btn-create-account:hover {
    color: darkcyan;
    background-color: white;
}

// CSS FOOTER
   #footer .reseau-fb:hover {
       color: #3b5998 !important;
   }

#footer .reseau-twitter:hover {
    color: #00acee !important;
}

#footer .reseau-linkedin:hover {
    color: #0e76a8 !important;
}

#footer .reseau-insta:hover {
    color: #e1306c !important;
}

#accroche .container{
    height: 300px;
}

// CSS ACCROCHE
   #accroche{
       background-repeat: no-repeat;
       background-image: url('../images/img_fond_accroche.jpg');
       background-size : cover;
   }

#accroche .texte-accroche{
    margin-top: 16px !important;
}

#accroche .row{
    padding-top: 70px;
}

// CSS JUMBOTRON
   #jumbotron {
       margin : 0;
       padding : 0;
       height : 500px;
   }

#jumbotron .h1Jumbotron {
    text-align : center;
    padding-top : 70px;
}

.jumbotron {
//background-color: transparent !important;
    background-image: url('../images/jumbotron.png');
    background-position : center;
    background-repeat: no-repeat;
    background-size : cover;
}

// CSS LISTE RESSOURCES
// fil d'ariane
#listeRessources .breadcrumb {
    margin-bottom : 0px;
    margin-block-end : 0px;
}

// fonction recherche
   #listeRessources .bgListeRessources {
       background-repeat: no-repeat;
       background-image: url('../images/img_fond_accroche.jpg');
       background-size : cover;
       margin-bottom : 50px;
   }

@media (max-width : 1199px) {
    #listeRessources .input-group {
        display : block;
    }

    #listeRessources fieldset {
        margin : auto;
    }

    #listeRessources .input-group-prepend {
        margin : 5px 0px;
    }

    #listeRessources .form-inline .relationsRechercheRessources, #listeRessources .form-inline .categoriesRechercheRessources, #listeRessources .form-inline .ressourcesRechercheRessources {
        width : 430px !important;
    }

    #listeRessources .motsClesRechercheRessources {
        width : 430px;
        padding-left : 15px;
        height : 35px;
    }

    #listeRessources .btnRechercherRessources {
        width : 430px;
        margin-top : 15px;
    }
}

@media (min-width : 1200px) {
    #listeRessources .form-inline .relationsRechercheRessources, #listeRessources .form-inline .categoriesRechercheRessources, #listeRessources .form-inline .ressourcesRechercheRessources {
        width : 230px !important;
    }

    #listeRessources .motsClesRechercheRessources {
        width : 230px;
    }

    #listeRessources .btnRechercherRessources {
        width : 194px;
    }
}

// liste des ressources
   #listeRessources .card-body {
       padding: 1.25rem 1.25rem 0 1.25rem;
   }

#listeRessources .dateListeRessources {
    float : right;
}

// pagination
   #listeRessources .pagination {
       padding : 25px;
   }

// CSS SOUMETTRE RESSOURCES
// fil d'ariane
#soumettreRessources .breadcrumb {
    margin-bottom : 0px;
    margin-block-end : 0px;
}

// présentation
   #soumettreRessources .bgSoumettreRessources {
       background-repeat: no-repeat;
       background-image: url('../images/img_fond_accroche.jpg');
       background-size : cover;
       margin-bottom : 50px;
   }

#soumettreRessources .form-check-input {
    margin-top : 12px;
}

#soumettreRessources .submitCategorie, #soumettreRessources .submitRessource {
    float : right;
}

#soumettreRessources .radioRessource {
    margin-top : 72px;
}

#soumettreRessources .titreRadioRessource {
    margin-top : 60px;
}

// CSS PAGE RESSOURCE
// fil d'ariane
#pageRessources .breadcrumb {
    margin-bottom : 0px;
    margin-block-end : 0px;
}

// background
   #pageRessources {
       background-repeat: no-repeat;
       background-image: url('../images/img_fond_accroche.jpg');
       background-size : cover;
   }

#pageRessources .commentaireRessource, #pageRessources .ressource {
    background-color: azure;
}

// ressource
   #pageRessources .datePageRessource {
       float : right;
   }

// commentaires
   #pageRessources .fa-thumbs-down {
       float : right;
   }

#pageRessources .envoyerCommentaire {
    float : right;
}

// CSS VALIDER RESSOURCE
// fil d'ariane
#validerRessources .breadcrumb {
    margin-bottom : 0px;
    margin-block-end : 0px;
}

// background
   #validerRessources .bgValiderRessources {
       background-repeat: no-repeat;
       background-image: url('../images/img_fond_accroche.jpg');
       background-size : cover;
   }

#validerRessources table tbody {
    border : solid 1px white;
}

.card-ressource {
    padding: 0 !important;
    max-width: 400px;
}
.form {
    max-width: 900px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.form-register {
    width: 400px !important;
    background-color: whitesmoke;
    border-radius: 20px;
}
.form-login {
    width: 400px !important;

}
.description-ressource {
    max-width: 1000px;
    font-weight: bold;
    font-style: italic;
}
.card-img-top {
    height: 250px !important;
}