<form method="post" action="{{ path('reduction_delete', {'idReduction': reduction.idReduction}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reduction.idReduction) }}">
    <button class="btn">Delete</button>
</form>
