{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ restaurant.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ restaurant.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ restaurant.email }}</td>
            </tr>
            <tr>
                <th>Ligne1</th>
                <td>{{ restaurant.ligne1 }}</td>
            </tr>
            <tr>
                <th>Ligne2</th>
                <td>{{ restaurant.ligne2 }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ restaurant.ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ restaurant.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('restaurant_index') }}">back to list</a>

    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
