<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{% block title %}Bienvenue sur le site de GoodFood !{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

<!-- Header -->
{% block header %}{% endblock %}

<!-- Home -->
{% block body %} {% endblock %}

<!-- Footer -->
{% block footer %}{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
