{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('build/images/logo.jpg') }}" href="{{ path('home') }}" width="90" height="90" alt="logo_ressources" class="logo ressources">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    <a class="nav-link" href="#">Nos restaurants !</a>
                    <a class="nav-link" href="#">Nous contacter</a>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer id="footer" class="pt-3 bg-dark">
        <div class="container">
            <div class="row text-center">
                {# Info #}
                <div class="col mt-2">
                    <strong class="footer-list-title text-uppercase text-light">Informations</strong>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-light" href="#">Info</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">CGU</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">A propos</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">RGPD</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">Flus RSS</a>
                        </li>
                    </ul>
                </div>
                {# Contact #}
                <div class="col mt-2">
                    <strong class="footer-list-title text-uppercase text-light">Nous contacter</strong>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-light" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                {# Reseaux sociaux #}
                <div class="col mt-2">
                    <strong class="footer-list-title text-uppercase text-light">Nos réseaux</strong>
                    <ul class="list-unstyled list-group-horizontal list-group justify-content-center">
                        <li>
                            <a class="nav-link text-light reseau-fb" alt="facebook" href="https://www.facebook.com/gouvernement.fr"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="nav-link text-light reseau-twitter" alt="twitter" href="https://twitter.com/gouvernementfr"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="nav-link text-light reseau-linkedin" alt="linkedin" href="https://www.linkedin.com/company/gouvernementfr"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="nav-link text-light reseau-insta" alt="instagram" href="https://www.instagram.com/gouvernementfr/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}