{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.nom }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.image }}</td>
                <td>{{ menu.disponible ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_new') }}">Create new</a>
{% endblock %}
