{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plat.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ plat.image }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ plat.disponible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plat_index') }}">back to list</a>

    <a href="{{ path('plat_edit', {'id': plat.id}) }}">edit</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
