{% extends 'base.html.twig' %}

{% block title %}Catalogue index{% endblock %}

{% block body %}
    <h1>Catalogue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td>
                    <a href="{{ path('catalogue_show', {'idMenu': catalogue.idMenu}) }}">show</a>
                    <a href="{{ path('catalogue_edit', {'idMenu': catalogue.idMenu}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('catalogue_new') }}">Create new</a>
{% endblock %}
