{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <h1>Catalogue</h1>

    <table class="table">
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('catalogue_index') }}">back to list</a>

    <a href="{{ path('catalogue_edit', {'idMenu': catalogue.idMenu}) }}">edit</a>

    {{ include('catalogue/_delete_form.html.twig') }}
{% endblock %}
